name: lint & build
on: push

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: './go.mod'
      - run: go version
      - name: run make lint
        run: make lint
